@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">
        Akeno Carry kim mi? Eğer görme engelliysen? Akeno göz olur. Acıkanlar için şef, susayanlar için su olur. Eğer Akeno fikir belirtiyorsa katılıyorum. Eğer konuşuyorsa dinliyorum. Eğer Akeno'nun bir takipçisi var ise o benim. Eğer Akeno'nun takipçisi yoksa ben yokum
        Dünya çapında ADC Anıl Karaaslan'a selam olsun!
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
